# generated terraform plugins
.terraform
.terraform.tfstate.lock.info

# state generated after each plan per workspace
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d

# variables containing values for infrastructure
vars.tf
cert.pem
key.pem